# Knock Airport Weather
**Andre Hoarau**

## The objective of this notebook is to develop a progamme using data obtained from Knock Airport in Mayo Ireland: https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv
## The program(s) will plot
    * The temperature
    * The mean temperature each day
    * The mean temperature each month
    * The windsoeed
    * The rolling windspeed over 24 hours 
    * The max windspeed each day 
    * The monthly mean of the daily max windspeeds.

In [1]:
# Import out packages
import pandas as pd
knock_data= "https://cli.fusio.net/cli/climate_data/webdata/hly4935.csv"
df= pd.read_csv(knock_data, skiprows=23)
df.head()

C:\Users\andre.hoarau\AppData\Local\Temp\ipykernel_29112\823328713.py:4: DtypeWarning: Columns (2,10,12,14,15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(knock_data, skiprows=23)

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6

In [2]:
# I want to tidy the DF and remove any temp that is 0 from looking at it if it wasn't recorded it was left as 0. Whilst sometimes this might be true at lower temperatrues it appears to go closer to decimal places and therefore I feel this is efficient enough to not lose too much data.
df.drop(df.loc[df["temp"]==0].index, inplace=True)

In [19]:
# Get matplot lib 
import matplotlib.pyplot as plt

In [ ]:
'''plt.plot(df["date"], df["temp"])``''
# This was a bad idea I had to interrupt this as there was too much data.

In [3]:
df.head()

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,...,ind.3,wdsp,ind.4,wddir,ww,w,sun,vis,clht,clamt
0,10-apr-1996 14:00,0,0.0,0,11.5,0,8.1,3.9,0.0,0,...,0,0,0,0,25,81,0.0,35000,32,5
1,31-jul-1996 08:00,0,0.0,0,11.5,0,11.1,10.7,0.0,0,...,0,0,0,0,25,82,0.0,40000,45,5
2,31-jul-1996 09:00,0,0.0,0,11.6,0,10.7,9.8,0.0,0,...,0,0,0,0,80,81,0.0,8000,32,7
3,31-jul-1996 10:00,0,0.0,0,12.9,0,11.3,9.8,0.0,0,...,0,0,0,0,25,82,0.0,28000,35,6
4,31-jul-1996 11:00,0,0.0,0,14.5,0,10.8,7.0,0.0,0,...,0,0,0,0,2,11,0.0,40000,40,6

In [4]:
# Lets resample and make it smaller
df["date"].dtype
# The data type is object we need to set it to datetime.
df["date"]= pd.to_datetime(df["date"], format=("%d-%b-%Y %H:%M"))
# Set the dateime column as the index so we can resapmle.
df.set_index("date", inplace=True)
df_daily= df["temp"].resample("D").mean()
# This resamples per day and finds the mean temp

In [17]:
#Lets drop the NAN everywhere
df_daily.dropna(inplace=True)
df_daily.count()

10322

In [20]:
# we now have 10322 data points to plot 
plt.plot(df_daily["date",df_daily["temp"]])

KeyError: 'temp'

In [25]:
print(type(df_daily))

print(df_daily.columns)  # This should now work as expected
daily_date= df_daily["date"]
daily_average_temp = df_daily["temp"]
plt.plot(daily_date, daily_average_temp)

<class 'pandas.core.frame.DataFrame'>
Index(['temp'], dtype='object')

KeyError: 'date'

References:
* [Stack overflow on drop](https://stackoverflow.com/questions/18172851/deleting-dataframe-row-in-pandas-based-on-column-value) - This link told me about drop.